$width: 65px;
$height: 65px;
$white: rgb(255, 255, 255);
$purple:rgb(128, 90, 213);
$hover: rgb(30,33,41);
$background: rgb(36,40,49);
$shadow: rgb(21, 23, 26);

body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  background-color: $background;
}

.slide, .slide-nav {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.slide {
  width: 70%;
  height: 70%;
  box-shadow: 10px 10px 40px $shadow;
}
.img-div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  &--animate {
    animation: slide 3s forwards;
    @keyframes slide {
      0%, 80% {
        clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
      }
      100% {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
      }
    }
  }
}

.slide-nav {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

.nav-div {
  width: 10px;
  height: 10px;
  background-color: $white;
  border-radius: 50px;
  box-shadow: 3px 3px 5px $shadow;
  cursor: pointer;
  &--active {
    background-color: $purple;
  }
}